<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dwb_router_ios.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
				<key>dateExpires</key>
				<string>10/1/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AlignedCollectionViewFlowLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CRNotifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CULColorPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IMSegmentPageView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MonthYearPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SendGrid_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TangramKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A477B91B4A8541F5D18932B1FFDF28345EFBAB5B</string>
						<key>dateExpires</key>
						<string>10/1/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TN569PG595</string>
						<key>name</key>
						<string>Anthony Souphavanh</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>TN569PG595.com.laodev.dwbrouter</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>TN569PG595</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>dwb_router_ios.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e41fd44c-f2be-4247-8b1e-1c9451127d0d</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.laodev.dwbrouter</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>TN569PG595</string>
				<key>name</key>
				<string>Anthony Souphavanh</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
